<h1>Cocky Cocktails</h1>

<%# <%= cl_image_tag("test-image", width: 400, height: 300, crop: :fill) %> 

<% @cocktails.each do |cocktail| %> 
  <div class="card-cocktail"> 
    <% if cocktail.photo.attached? %>
      <img src="<%= cl_image_path cocktail.photo.key %>">
    <% else %>
      <img src="<%= cl_image_path("placeholder-cocktail") %>">
    <% end %>
    <div class="card-cocktail-info">
      <h5><%= cocktail.name %></h5>
      <%= link_to "tell me more", cocktail_path(cocktail) %>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
<% end %>  

<%= link_to "Add new cocktail", new_cocktail_path %> 

<%# <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> %>

