<h1>Cocky Cocktails</h1>

<%# <%= cl_image_tag("test-image", width: 400, height: 300, crop: :fill) %> 

<% @cocktails.each do |cocktail| %> 
  <div class="card-cocktail"> 
    <div class="card-cocktail-photo">
      <% if cocktail.photo.attached? %>
        <img class="brightness" src="<%= cl_image_path cocktail.photo.key %>">
      <% else %>
        <img src="<%= cl_image_path("placeholder-cocktail") %>">
      <% end %>
    </div>
    <div class="card-cocktail-info">
      <h5><%= cocktail.name %></h5>
      <%= link_to "more...", cocktail_path(cocktail) %>
    </div>
  </div>
<% end %>  

<div id="new-cocktail" ><%= link_to "Add new cocktail", new_cocktail_path %> </div>

<%# <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> %>

