
<div><%= @cocktail.name  %> </div>

<% if @cocktail.photo.attached? %> 
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %> 
<% else %>
    <%= cl_image_tag("placeholder-cocktail", width: 400, height: 300, crop: :fill) %>
<% end %>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <%# <li><%= link_to cocktail.dose, cocktail_path(dose)</li> %> 
    <li><%= dose.description %> <%= dose.ingredient.name %></li>
    
    <%# <input type="checkbox" unchecked> %>
    <%= link_to "remove", dose_path(dose), method: :delete, data: { confirm: "Do you really want to delete forever?" } %>    
  <% end %> 
</ul>

<div><%= link_to "add ingredient", new_cocktail_dose_path(@cocktail) %></div>

<div><%= link_to "back to all cocktails", cocktails_path %></div>